version: '3.8'

services:
  bot:
    build: .
    env_file:
      - .env
    environment:
      - BOT_TOKEN=${BOT_TOKEN}
      - INSERTION_SYMBOLS=${INSERTION_SYMBOLS}
      - GENERAL_TEMPLATE_FOLDER=${GENERAL_TEMPLATE_FOLDER}
      - GENERAL_TEMPLATE_EXTENTION=${GENERAL_TEMPLATE_EXTENTION}